# This is a basic workflow to help you get started with Actions

name: CI-CD-Pipeline-AWS

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
env:
  EB-BUCKET-NAME: "buck-flask"
  APPLICATION-NAME: "sort"
  EB-ENV-NAME: "Sort-env"
  DEPLOY-PACKAGE-NAME: "flask-app-${{ github.sha }}.zip"
  AWS-REGION: "us-east-1"
on:
  push:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  my-ci-pipeline:
    runs-on: ubuntu-latest
    steps:
      - name: clone-our-repo
        uses: actions/checkout@v2
      - name: create zip file
        run: zip -r ${{ env.DEPLOY-PACKAGE-NAME }} ./ -x *.git*
      - name: configure aws auth
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_KEY }}
          aws-region: ${{ env.AWS-REGION }}
      - name: copy deployment package to s3
        run: aws s3 cp ${{ env.DEPLOY-PACKAGE-NAME }} s3://${{ env.EB-BUCKET-NAME }}/${{ env.DEPLOY-PACKAGE-NAME }}
      - name: Message on completion of CI Pipeline
        run: echo "CI Pipeline part finished successfully"
  my-cd-pipeline:
       runs-on: ubuntu-latest
       needs: [my-ci-pipeline]
       steps:
         - name: Configure my AWS Credentils
           uses: aws-actions/configure-aws-credentials@v1
           with:
            aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
            aws-secret-access-key: ${{ secrets.AWS_SECRET_KEY }}
            aws-region: ${{ env.AWS-REGION }}
         
         - name: Create new ElasticBeanstalk Applicaiton Version
           run : |
            aws elasticbeanstalk create-application-version \
            --application-name ${{ env.APPLICATION-NAME }} \
            --source-bundle S3Bucket="${{ env.EB-BUCKET-NAME }}",S3Key="${{ env.DEPLOY-PACKAGE-NAME }}" \
            --version-label "Ver-${{ github.sha }}" \
            --description "CommitSHA-${{ github.sha }}"
         - name: Deploy our new Application Version
           run : aws elasticbeanstalk update-environment --environment-name ${{ env.EB-ENV-NAME }} --version-label "Ver-${{ github.sha }}"
           
         - name: Message on completion of CD Pipeline
           run : echo "CD Pipeline part finished successfully"  
      
  
  
